@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Poiret+One&display=swap");
* {
  box-sizing: border-box;
  font-family: "Arima Madurai", cursive;
}
body {
  width: 100%;
  margin: 0 auto;
  background: #f1f1f1;
}

/* big images */
.big {
  width: 100%;
  height: 70%;
}
main {
  overflow-x: hidden;
  width: 100%;

  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
/* section for mid images */
.second_sec_contain_4img,
.last_sec_contain_4img {
  margin-top: 35px;
  margin-bottom: 35px;
  width: 100%;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
/* 4 img images */
.MidImages {
  width: 100%;
}

.divMIDContinuer {
  width: 300px;
  box-shadow: 0 8px 8px -4px #da0037;
}
.myPrag,
.myPrag2 {
  padding: 20px;
  text-align: center;
  max-width: 100%;
  max-height: 12rem;
}

.first_sec_big_img,
.thered_sec {
  width: 100%;
  position: relative;
}
.first_sec_big_img:before,
.first_sec_big_img:after,
.thered_sec:before,
.thered_sec:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;

  transform: rotate(-8deg);
}
.first_sec_big_img:after,
.thered_sec:after {
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

.testImg {
  height: 100%;
  width: 100%;
  transition-duration: 300ms;
  transition-delay: 150ms;
  /* transition-duration: */
  transition-timing-function: ease-in-out;
}

.testImg:hover {
  transform: scale(1.05);
}
.scaleTest {
  overflow: hidden;
  height: min(100vh, 100vw);
}
.test {
  margin-top: 35px;
  margin-bottom: 35px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: stretch;
}
.divTest {
  width: 38%;
  max-height: 38%;
  box-shadow: 0 8px 8px -4px #da0037;
}

button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover {
  opacity: 0.7;
}
.containerForSlideShow {
  height: 450px;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  background: white;
  background-size: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #da0037;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.containerForSlideShow:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: #dedede;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  line-height: normal;
  align-items: stretch;
  padding: 21px;
  line-height: 30px;
}
.hide2 {
  display: none;
}
.small {
  width: 50px;
  margin-left: 20px;
  transition: 0.5s ease;
  display: inline-block;
}
.smallImg {
  width: 50px;

  height: 32px;
}
.small :hover {
  cursor: pointer;
  box-shadow: 1px 0px 20px 9px #da0037;
}
.lastIMg {
  height: 465px;
}
.secImg {
  height: 532px;
}
img {
  max-width: 100%;
}
@media screen and (max-width: 800px) {
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  body {
    width: 100%;
  }

  img {
    max-height: 100%;
  }
  .divMIDContinuer {
    width: max(10rem, 5rem);
    height: max(35rem, 10rem);
  }
  .second_sec_contain_4img,
  .last_sec_contain_4img {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: flex-start;
    align-items: stretch;
  }
  nav {
    position: unset;
  }
  ul {
    display: flex;
    position: unset !important;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    margin-inline: auto;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
  }

  li {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
    font-size: small !important;
    margin-top: 0.5rem !important;
    margin-bottom: auto !important;
  }
  header h2 {
    display: none;
  }
  header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #CartImage,
  #searchImage {
    max-width: 11% !important;
  }
  header #logiImage {
    max-width: 11% !important;
  }
  .myPrag2,
  .myPrag {
    font-size: 0.4rem !important;
    min-height: 4rem !important;
    max-height: 4rem !important;
    overflow: hidden;
    padding: 0 !important;
  }
  footer {
    display: none;
  }
}
div {
  height: min(20%, 100%);
}
@media screen and (max-width: 274px) {
  #searchImage {
    display: none;
  }
}
