@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Poiret+One&display=swap");
* {
  box-sizing: border-box;
  font-family: "Arima Madurai", cursive;

  box-sizing: border-box;
  text-transform: capitalize;
  text-align: justify;
  line-height: 25px;
}
main {
  min-height: 490px;
}

.containerForCartPage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: column;
  max-width: 70px;
}
section {
  height: 220px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

hr {
  width: 85%;
  height: 1px;
  background: url(../accessories-img/pexels-lisa-2508735.jpg);
}

button {
  margin-left: 20px;
}
.img {
  width: 100px;
  height: 100px;
}
.model {
  display: block;
}
#sectionForTotal {
  justify-content: flex-end;
  margin-right: 356px;
}
main {
  background-color: #dedede;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: center;
}
main h1 {
  margin: 25px auto;
}
main button {
  background-color: #da0037;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 11px;
  width: 70px;
  height: 37px;
}
main button :hover {
  opacity: 0.8;
}
.st {
  position: relative;
  left: -104px;
  margin: 50px -165px;
}
.model {
  width: 279%;
}
