
#WebsiteFeed { 
    font-size: 35px;
    text-align: center;
    margin: 15px;
    font-weight:bolder;
}




/* cards */

/* #card {
    box-shadow: 0 40px 8px 0 red;
    transition: 0.3s;
    width: 15%;
    margin: 100px;
    
  } */

  .everyCardDiv{
      margin: 100px;
      box-shadow: 10px 10px 10px 10px black;
      transition: 0.3s;
      width: 15%;
      margin: 100px;
      float: left;
      
      
  }
  
  .everyCardDiv:hover{
    box-shadow: 10px 10px 10px 10px rgb(177, 75, 75);      
  }
  /* #card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } */
  
  .container {
    padding: 2px 16px;
  }

/* cards */

footer{
    clear: both;
}