
  
footer {
  
  position: relative;
    /* position: absolute; */
    height: 180px;
    background-color: rgb(236 236 236);
    border-top: solid 1px rgb(194, 0, 0);

    /* bottom: -1200px; */


    width: 100%;
    color: black
}



  footer #copyRights {
      font-weight: bolder;
      font-size: 25px;
      color: rgb(124, 64, 64);
      position: absolute;
      right: 135px;
      bottom: 30px;
      font-family: 'Bebas Neue', cursive;

  }

footer h2 {
  font-weight: bolder;
  color: rgb(124, 64, 64);
  position: absolute;
    font-size: 25px;
    left: 7px;
    font-family: 'Bebas Neue', cursive;

}
footer #para {
  position: absolute;
  top: 25px;
left: 7px;
    font-size: 20px;
}

footer nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 5px;
    font-family: 'Bebas Neue', cursive;
}

footer nav ul {
  margin-left: 50px;
  font-family: 'Bebas Neue', cursive;
}




#camerasList{
    position: absolute;
    top: 70px;
    left: 100px;
    
}
#camerasList h4 {
  font-weight: bolder;
    font-size: 21px;
    color: rgb(124, 64, 64);
    font-family: 'Bebas Neue', cursive;
}

#AccessoriesList{
  color: rgb(124, 64, 64);
  position: absolute;
  top: 120px;
  left: 100px;
}
#AccessoriesList h4 {
  font-weight: bolder;
  font-size: 21px;
  color: rgb(124, 64, 64);
  font-family: 'Bebas Neue', cursive;
    
}

footer nav ul li {
display: inline-block;
margin-left: 15px;
}

footer nav ul li a:hover{
  color: rgb(124, 64, 64);
}
footer nav ul li:hover{
transform: scale(1.1);
  transition-duration: 0.3s;
  border-bottom: 1.5px solid rgb(124, 64, 64);
}

/* #AccessoriesList{
    position: absolute;
    top: 50px;
    left: 225px;
} */



.fa {
  padding: 20px;
  font-size: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  
}

  
  .fa:hover {
      background-color: rgb(124, 64, 64);
      color: grey;
  }
  
  .fa-facebook {
    background: #6d6d6d;
    color: rgb(124, 64, 64);
  }
  
  .fa-twitter {
    background: #6d6d6d;
    color: rgb(124, 64, 64);
  }
  
  .fa-google {
    background: #6d6d6d;
    color: rgb(124, 64, 64);
  }
  
  .fa-linkedin {
    background: #6d6d6d;
    color: rgb(124, 64, 64);
  }
  
  .fa-youtube {
    background: #6d6d6d;
    color: rgb(124, 64, 64);
  }
  


  #social {
      position: absolute;
      right: 0px;
      bottom: 70px;
      width: 400px;
      
  }
